<!-- <router-outlet></router-outlet> -->

<div class="root">
  <div class="container">
    <header class="header">
      <div class="header-title">
        <h1>Tourify</h1>
      </div>
      <div class="header-subtitle">
        Create a itinerary for yourself for maximum of 10 days.
      </div>
    </header>
    <div class="container">
      <!-- Add Form Here -->
      <form [formGroup]="tourForm" class="w-50">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-floating mb-3">
              <input formControlName="fromLocation" type="text" class="form-control" id="fromLocationFloatingInput"
                placeholder="Enter your location" [ngClass]="(tourForm.get('fromLocation')!.touched || tourForm.get('fromLocation')!.dirty) && 
                tourForm.get('fromLocation')!.invalid ? 'is-invalid' : ''" maxlength="255">
              <label for="fromLocationFloatingInput">Your Location</label>
              <div *ngIf="(tourForm.get('fromLocation')!.touched || tourForm.get('fromLocation')!.dirty) && 
              tourForm.get('fromLocation')!.invalid">
                <div *ngIf="tourForm.get('fromLocation')!.errors!['required']" class="invalid-control">
                  Your lLocation must be specified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-floating mb-3">
              <input formControlName="destination" type="text" class="form-control" id="destinationFloatingInput"
                placeholder="Enter destination" [ngClass]="(tourForm.get('destination')!.touched || tourForm.get('destination')!.dirty) && 
                tourForm.get('destination')!.invalid ? 'is-invalid' : ''" maxlength="255">
              <label for="destinationFloatingInput">Destination</label>
              <div *ngIf="(tourForm.get('destination')!.touched || tourForm.get('destination')!.dirty) && 
              tourForm.get('destination')!.invalid">
                <div *ngIf="tourForm.get('destination')!.errors!['required']" class="invalid-control">
                  Destination must be specified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="form-floating mb-3">
              <input formControlName="noOfDays" type="number" class="form-control" id="noOfDaysFloatingInput"
                placeholder="Enter number of days" [ngClass]="(tourForm.get('noOfDays')!.touched || tourForm.get('noOfDays')!.dirty) && 
                tourForm.get('noOfDays')!.invalid ? 'is-invalid' : ''" maxlength="255">
              <label for="noOfDaysFloatingInput">Duration of trip</label>
              <div *ngIf="(tourForm.get('noOfDays')!.touched || tourForm.get('noOfDays')!.dirty) && 
              tourForm.get('noOfDays')!.invalid">
                <div *ngIf="tourForm.get('noOfDays')!.errors!['required']" class="invalid-control">
                  Trip duration must be specified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-floating mb-3">
              <select formControlName="howToGetThere" class="form-select" id="howToGetTherefloatingSelect"
                aria-label="Do you want how to get there">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
              <label for="howToGetTherefloatingSelect">How to get there</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-floating mb-3">
              <select formControlName="showLocalRestaurants" class="form-select" id="showLocalRestaurantsfloatingSelect"
                aria-label="Do you want how to get there">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
              <label for="showLocalRestaurantsfloatingSelect">Show Local Restaurants</label>
            </div>
          </div>
        </div>
        <!-- Submit buttons -->
        <div class="prompt-buttons mt-2">
          <button type="submit" [ngClass]="isGenerating ? 'generate-button loading' : 'generate-button'"
            (click)="validateForm()">
            <div class='generate'>
              <ng-container *ngIf="isGenerating; else noGenerating">
                <span class="loader"></span>
              </ng-container>
              <ng-template #noGenerating>
                <p>Generate</p>
              </ng-template>
            </div>
          </button>
        </div>
      </form>
    </div>

    <ng-container *ngIf="plan">
      <div class='output'>
        <div class='output-header-container'>
          <div class='output-header'>
            <h3>Output</h3>
          </div>
        </div>
        <div class='output-content'>
          <p [innerHTML]="plan"></p>
          <!-- <div></div> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>